https://github.com/MedCab-1/Front-End/blob/master/login/package.json
https://github.com/yTakkar/React-Instagram-Clone-2.0

https://github.com/alejandronanez/instagram-clone
https://github.com/abhi40308/instagram-clone
https://github.com/yomete/stylagram
https://github.com/MarcinMiler/instagram-clone
